<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand" style="font-size: 0.9rem;">Employee review System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 0.7rem; position: absolute; right: 0px;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/assign-work">Assign Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/show-emp">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/add-emp">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/sign-out">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>